@media print {
  header,
  nav,
  footer,
  .no-print {
    display: none !important;
  }
  main {
    max-width: none !important;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
    font-size: 90%;
  }
  .prose-guide {
    color: #000;
  }
}
